.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 250px;
}

.mat-toolbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.content {
  margin-top: 64px; /* Height of the toolbar */
  padding: 20px;
}

.spacer {
  flex: 1;
}

.nav-links {
  display: flex;
  gap: 10px;
}

@media (max-width: 600px) {
  .nav-links {
    display: none;
  }

  .menu-icon {
    display: block;
  }
}

@media (min-width: 600px) {
  .menu-icon {
    display: none;
  }

  .sidenav {
    display: none;
  }
}
