<div class="hero-head">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">

            <!-- Toggle button for mobile -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenuHeroA"
                aria-controls="navbarMenuHeroA" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Collapsible content -->
            <div class="collapse navbar-collapse" id="navbarMenuHeroA">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                            class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="./train-model" routerLinkActive="active" class="nav-link">Train Model</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="./extract-template" routerLinkActive="active" class="nav-link">Extract
                            Template</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
