<section class="hero hero-head is-primary is-fullheight">
    <app-header></app-header>
    <div class="hero-body">
        <div class="container has-text-centered">
            <router-outlet></router-outlet>
        </div>
    </div>
</section>
